<link rel="stylesheet" href="/css/new.css">
<div class="container mx-auto">
    <div class="p-2 mx-auto text-dark container_new">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="card m-5" >
                    <div class="card-body">
                        <h3 class="card-title text-center">{{new.title_new}}</h3>
                        <hr>
                        <p class="card-text">{{new.text}}</p>
                        <div class="row">
                            <div class="col-sm-6 mx-auto">
                                <img class="card-img-top img-fluid" src="/img/img_uploads/{{new.file}}" style="border-radius: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        {{#if user}}
            <div class="col">
                <a href="/new/show" class="link-success">Regresar</a>
            </div>
            <div class="col text-end">
                <a href="/new/edit/{{new.id}}" class="link-success">Editar</a>
            </div>
        {{else}}
            <div class="col">
                <a href="/new" class="link-success">Regresar</a>
            </div>
        {{/if}}
    </div>
    
</div>
