<div class="container">
    <h1 class="text-center display-4 my-4">Galería</h1>
    <div class="row">
        <h6 class="my-2"><a href="/gallery/add" class="link-success">Cargar una foto nueva</a></h6>
        {{#each photos}}
            <div class="col-4">
                <a href="#" data-bs-toggle="modal" data-bs-target="#image{{id}}" >
                    <figure class="figure">
                        <img src="/img/img_uploads/{{file}}" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption">{{title}}</figcaption>
                    </figure>
                    
                </a>
                <!-- Modal -->
                <div class="modal fade" id="image{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                    <div class="modal-dialog modal-md modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="/gallery/delete/{{id}}" class="btn btn-danger ">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a href="/gallery/edit/{{id}}" class="btn btn-secondary">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            <div class="modal-body">
                                <img src="/img/img_uploads/{{file}}" class="card-img-top">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">No existe registro aún</h4>
                </div>
                <a href="/gallery/add" class="btn btn-link">Subir una foto</a>
            </div>
        {{/each}}
    </div>
</div>