<link rel="stylesheet" href="/css/blog.css">
<div class="container">
    <h1 class="title">Blogs LLOA </h1>
    <div class="row">
        {{#each blogs}}
            <div class="col-xl-4">
                <div class="card m-4">
                    <div class="card-body">
                        <img src="{{image}}" alt="">
                        <h3 class="card-title text-center">{{title}}</h3>
                        <hr>
                        <p class="card-text">{{resumen}}</p>
                            <a href="/blog/show/{{id}}">Leer mas...</a>
                    </div>
                    <div class="card-footer text-muted text-center">
                        {{timeago create_at}}
                    </div>
                </div>
            </div>
       
        {{else}}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">No existe registro aún</h4>
                </div>
                <a href="/blog/create" class="btn btn-link"></a>
            </div>
        {{/each}}
    </div>
</div>

