<link rel="stylesheet" href="/css/blog.css">
<div class="container">
    <h2 class="text-center">Blogs LLOA </h2>
    <div class="row">
        <h5><a class="btn btn-link" href="/blog/add">Crear un blog nuevo</a></h5>
        {{#each blog}}
            <div class="row g-0 bg-light position-relative">
                <div class="col-md-4 mb-md-0 p-md-4">
                    <img src="/img/img_uploads/{{file}}" class="img-fluid">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">{{title}}</h5>
                    <p>{{resumen}}</p>
                </div>
                <div class="col-md-2 p-4 ps-md-0 justify-content-center" style="">
                    <div class="row p-1">
                        <a href="/blog/individual/{{id}}" class="btn btn-info">
                            <i class="far fa-eye"></i>
                        </a>
                    </div>
                    <div class="row p-1">
                        <a href="/blog/edit/{{id}}" class="btn btn-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    <div class="row p-1">
                        <a href="/blog/delete/{{id}}" class="btn btn-danger ">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">No existe registro aún</h4>
                </div>
                <a href="/blog/add" class="btn btn-link">Crear mi primer blog</a>
            </div>
        {{/each}}
    </div>
</div>
